{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'components/breadcrumb.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="profile-info-inner">
                    <div class="profile-img">
                        <img src="{% static 'img/zainul.jpg' %}" alt="" />
                    </div>
                    <div class="profile-details-hr">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr">
                                    <p><b>Nama</b><br /> Zainul</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                    <p><b>No. HP</b><br /> +6281333654034</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr">
                                    <p><b>Email</b><br /> zainulmuhsin46@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                    <p><b>Universitas</b><br /> Nurul Jadid</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="address-hr">
                                    <p><b>Alamat</b><br /> Desa Sambiranpak Kidul, Kec. Kotaanyar, Kabupaten Probolinggo, Prov. JATIM, INDONESIA.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Biodata</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p><b>Nama Lengkap</b><br /> Muhammad Zulfa Zainul Muhsin</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p><b>No. HP</b><br /> +6281333654034</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p><b>Email</b><br /> zainulmuhsin46@gmail.com</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="content-profile">
                                                    <p>Hello world, Nama saya adalah Muhammad Zulfa Zainul Muhsin, saya berusia 22 tahun dan saat ini saya adalah seorang Mahasiswa di Universitas Nurul Jadid. Saya mengambil jurusan Informatika di Fakultas Teknik. Keinginan saya adalah untuk lulus tahun ini dan membahagiakan kedua orang tua saya.</p>
                                                    <p>Saya tidak kaya, saya tidak hebat, tapi tidak terlalu susah untuk menjalani hidup, saya manusia biasa saja, banyak yang lebih cerdas, banyak yang lebih pintar, banyak yang lebih sukses, tapi apa yang saya alami hari ini saya yakin adalah Doa dari Ibu saya.</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row mg-b-15">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="skill-title">
                                                            <h2>Riwayat Sekolah</h2>
                                                            <hr />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ex-pro">
                                                    <ul>
                                                        <li><i class="fa fa-angle-right"></i> MI: Madrasah Ibtidaiyah Nurur Rahmah</li>
                                                        <li><i class="fa fa-angle-right"></i> MTS: Madrasah Tsanawiyah Nurur Rahmah</li>
                                                        <li><i class="fa fa-angle-right"></i> SMK: Sekolah Menengah Kejuruan Zainul Mu'in</li>
                                                        <li><i class="fa fa-angle-right"></i> Universitas: Universitas Nurul Jadid</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}